	
		
		.contrs.left{
			left: -5%;
        	background-image: url('../src/img/right.jpg');
		}
		.contrs.right{
			right: -5%;
			        	background-image: url('../src/img/left.jpg');

		}


		
		
	
		.slider3{
		position: relative;
		height: 100%;
       	margin-right: 18%;
		margin-left: 18%;
		
		
		
		}

		.contentslider3{
			background-color: red;
			height: 100%;
			width: 100%;
		}


		