<html>
<head>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"> -->
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css'>
	<link rel="stylesheet" type="text/css" href="{% static 'mainpage/css/style.css' %}">
	<link rel="stylesheet" type="text/scss" href="{% static 'mainpage/scss/style.scss' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mainpage/css/style_index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mainpage/css/menu.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'mainpage/css/adaptation.css' %}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  	<script src="{% static 'mainpage/src/js/lightslider.js' %}"></script>
  	<script src="{% static 'mainpage/js/slider2.js' %}"></script>
  	<script src="{% static 'mainpage/js/menu.js' %}"></script>
  	<script src="{% static 'mainpage/js/slider3.js' %}"></script>
  	<link rel="stylesheet"  href="{% static 'mainpage/src/css/lightslider.css' %}"/>
  	<link rel="stylesheet"  href="{% static 'mainpage/css/slider2.css' %}"/>
  	<link rel="stylesheet"  href="{% static 'mainpage/css/slider3.css' %}"/>

</head>
<body>
 {% block content %}
  {% include "header.html" %}
{% endblock %}

	<slider>
	<div class="social_url"><div class="social">
		<div style=" display:table; float:right">
			<div style="display:table-cell; vertical-align: middle">ПРИСОЕДИНИТЬСЯ К НАМ В СОЦ. СЕТЯХ</div>
		        <div style="float:right; width: 125px">
			    <a href="#"><div class="social_block1" style="background-color: #4e76a4;"></div></a>
			    <a href="#"><div class="social_block1" style="background-color: #3d5b9a;"></div></a>
			    <a href="#"><div class="social_block1" style="background-color: #f68c33;"></div></a>
			    <a href="#"><div class="social_block1" style="background-color: #cc2027;"></div></a>
			    <a href="#"><div class="social_block1" style="background-color: #1da0f3;"></div></a>
			</div>
		</div>
	</div>
	</div>
	    <div class="slider_show">
	<div class="swiper-container main-slider loading">
        <div class="swiper-wrapper">

      {% for objj in slider1 %}
      <div class="swiper-slide">
      <figure class="slide-bgimg" style="background-size:100% 100%;background-image:url({{objj.image.url}})">
        <img src="{{objj.image.url}}" class="entity-img" />
      </figure>
     	</div>
      {% endfor %}

    </div>
  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev swiper-button-white"></div>
  <div class="swiper-button-next swiper-button-white"></div>
</div>

<!-- Thumbnail navigation -->
<div class="swiper-container nav-slider loading">
  <div class="swiper-wrapper">

      {% for objj in slider1 %}
      <div class="swiper-slide">
      <figure class="slide-bgimg" style="background-image:url({{objj.image.url}})">
        <img src="{{objj.image.url}}" class="entity-img" />
      </figure>
    </div>
      {% endfor %}

  </div>
</div>
			</div>
	
<div class="best_sale">
	<div class="block">
		<div class="info">
			<div class="name">Совершайте свои лучшие покупки</div>
			<div class="more"><b>МинскМЕБЕЛЬ</b> - это дorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </div>
		</div>
	<div class="image">
    	<div class="back" style="background-image: url(../static/mainpage/img/geo.png);"></div>
    	Все белорусские производители в одном месте
    </div>
    <div class="image">
    	<div class="back" style="background-image: url(../static/mainpage/img/sale.png);"></div>
    	Скидки, акции, распродажи, рассрочка
    </div>
    <div class="image">
    	<div class="back" style="background-image: url(../static/mainpage/img/shop.png);"></div>
    	Доступность (ст.м. Я.Коласа) и удобный подъезд
    </div>
</div>
	    </div>
	</slider>

	<products>
		<div style="font-family: Proxima; font-size: 1.95vw; text-align: center;padding-top: 2%;padding-bottom: 2%;font-weight: bold">Популярные товары и вкусные цены</div>
		<div class="slider2">
			<div class="contrs left" onclick="next()"></div>
		<div class="contrs right" onclick="prev()"></div>
		 <ul id="content-slider" class="content-slider">


             {% for objj in slider2 %}
             <div>
                  <li class="listitem" >
                  <div class="contentslider2">
                  		<div class="image" style="background-image: url({{objj.tovar.image.url}});"></div>
                  		<div style="display:table; height: 10%">
                  			<div class="name">
                  				{{objj.tovar.title}}
                  			</div>
                  		</div>
                  		<div style="display:table; height: 7%">
                  			<div class="more">
                  				{{objj.tovar.discriotion}}
                  			</div>
                  		</div>
                  		<div style="display:table; height: 16%">
                  			<div class="price">
                  				{{objj.nowprice}}р.-
                  			</div>
                  		</div>
                  		<div style="display:table; height: 7%">
                  			<div class="preprice">
                  				прежняя цена: {{objj.tovar.price}}р
                  			</div>
                  		</div>
                  </div>
                </li>
            </div>
             {% endfor %}

            </ul>
		</div>
	</products>

	<news>
		<div style="font-family: Proxima; font-size: 1.95vw; text-align: center;padding-top: 2%;font-weight: bold;width:100%">Новости гипермаркета</div>
		<div style="font-family: Proxima; font-size: 0.95vw; text-align: center;padding-bottom: 2.5%;font-weight: bold;width:100%">Здесь будут отображаться самые последние и значимые новости</div>
		<div class="slider3">
			<div class="contrs left" onclick="next1()"></div>
		<div class="contrs right" onclick="prev1()"></div>
		 <ul id="content-slider2" class="content-slider">
			 {% for objj in slider3 %}
			 <div>
                  <li class="listitem" >
                  <div class="contentslider3">
                  		<div class="image" style="background-image: url({{objj.image.url}});"></div>
                  		<div class="text">
                  			<div style="display: table; padding-left:5%; height: 15%">
                  				<div class="date">{{objj.date}}</div>
                  			</div>
                  			<div style="display: table; padding-left:5%;  padding-right:5%; height: 50%;overflow: hidden">
                  				<div class="more">{{objj.title}}</div>
                  			</div>
                  			<div style="display: table; padding-left:5%; height: 35%">
                  				<div class="morenews">Подробнее...</div>
                  			</div>
                  		</div>
                  </div>
                </li>
            </div>
			 {% endfor %}

            </ul>
		</div>
	</news>

	<shop>
		<div class="name">
			<div class="text">
				Магазины
			</div>
		</div>
		<div class="shop">

			{% for objj in shops %}
			<a href="/shops/{{objj.id}}"><div class="shop_image" style="background-image: url({{objj.image.url}});"></div></a>


			{% endfor %}
		</div>
		<div class="name" style="height: 5%">
			<div class="text" style="font-size: 2.5vh; color: #cd1639; font-weight: 100;">
				<a href="/shops" style="text-decoration: none; color: #cd1639"><p style="cursor: pointer;">ещё</p></a>
			</div>
		</div>
	</shop>

	<map>
		<div class="contacts">
			<div class="all">
				<div class="name">Контакты</div>
			    <div class="content">Телефон: <br><b>+375 29 666-45-58</b><br><b>+375 29 666-45-58</b></div>
			    <div class="content">Адрес: <br><b>МИНСК</b><br><b>УЛ. В. ХОРУЖЕЙ, 25</b></div>
			    <div class="content">E-mail: <br><b>SALES@MM.BY</b></div>
			</div>
			<div class="call_but_footer">
				<div class="but" style="vertical-align: bottom">ЗАКАЗАТЬ ЗВОНОК</div>
			</div>
		</div>
	</map>


 {% block footer %}
 {% include "footer.html" %}
 {% endblock %}

	<script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js'></script>
    <script  src="{% static 'mainpage/js/index.js' %}"></script>
</body>
</html>