<html>
<head>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"> -->
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css'>
	<link rel="stylesheet" type="text/css" href="{% static 'mainpage/css/style.css' %}">
	<link rel="stylesheet" type="text/scss" href="{% static 'mainpage/scss/style.scss' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mainpage/css/style_index.css' %}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  	<script src="{% static 'mainpage/src/js/lightslider.js' %}"></script>
  	<script src="{% static 'mainpage/js/slider2.js' %}"></script>
  	<script src="{% static 'mainpage/js/slider3.js' %}"></script>
  	<link rel="stylesheet"  href="{% static 'mainpage/src/css/lightslider.css' %}"/>
  	<link rel="stylesheet"  href="{% static 'mainpage/css/slider2.css' %}"/>
  	<link rel="stylesheet"  href="{% static 'mainpage/css/slider3.css' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<up>
		<div class="logo"></div>
		<div class="right_header">
<div style="width:100%; height:100%; display:table">
		<div style="width:100%;display:table-cell;vertical-align: middle">
			<div class="menu"></div>
			<div class="menu">
				<div class="menu_name"><a href="#">Каталог</a></div>
				<div class="menu_name"><a href="#">Акции</a></div>
				<div class="menu_name">Магазины</div>
				<div class="menu_name">Новости</div>
				<div class="menu_name">Арендаторам</div>
				<div class="menu_name" style="border: none">Контакты</div>
			</div>
			<div class="menu"></div>
			<div class="call">
				<div class="call_but_header">
					<div style="display:table-cell; vertical-align: middle"><div class="but">ЗАКАЗАТЬ ЗВОНОК</div></div>
				</div>
				<div class="block_down">
					<div class="call_img"></div>
					<div class="call_number">МИНСК<br>УЛ. В. ХОРУЖЕЙ, 25</div>
				</div>
				<div class="block_down">
					<div class="clock_img"></div>
					<div class="clock_info">ВРЕМЯ РАБОТЫ ТЦ:<br><b>ПН-ПТ: 10:00 - 20:00</b><br><b>СБ-ВС: 10:00 - 19:00</b></div>
				</div>
			</div>
			<div class="callandtime"></div>
		</div>
	</div>
		</div>
	</up>

	<category>
			<div class="category" >
				<div class="category_name">
					<div class="image" style="background-image: url('../static/mainpage/img/myagkaya_mebel.png')"></div>
					<div class="name">МЯГКАЯ МЕБЕЛЬ</div>
				</div>
				
				<div class="category_name">
					<div class="image" style="background-image: url('../static/mainpage/img/gostinaya.png')"></div>
					<div class="name">ГОСТИНАЯ</div>
				</div>

				<div class="category_name">
					<div class="image" style="background-image: url('../static/mainpage/img/spalnaya.png')"></div>
					<div class="name">СПАЛЬНЯ</div>
				</div>

				<div class="category_name">
					<div class="image" style="background-image: url('../static/mainpage/img/kuhnya.png')"></div>
					<div class="name">КУХНЯ</div>
				</div>

				<div class="category_name">
					<div class="image" style="background-image: url('../static/mainpage/img/stolovaya.png')"></div>
					<div class="name">СТОЛОВАЯ</div>
				</div>

				<div class="category_name">
					<div class="image" style="background-image: url('../static/mainpage/img/prihozhaya.png')"></div>
					<div class="name">ПРИХОЖАЯ</div>
				</div>

				<div class="category_name">
					<div class="image" style="background-image: url('../static/mainpage/img/vannaya.png')"></div>
					<div class="name">ВАННАЯ</div>
				</div>

				<div class="category_name">
					<div class="image" style="background-image: url('../static/mainpage/img/detskaya.png')"></div>
					<div class="name">ДЕТСКАЯ</div>
				</div>

				<div class="category_name">
					<div class="image" style="background-image: url('../static/mainpage/img/rabochiy_kabinet.png')"></div>
					<div class="name">РАБОЧИЙ КАБИНЕТ</div>
				</div>
			</div>
	</category>

	<slider>
	<div class="social_url"><div class="social">
		<div style=" display:table; float:right">
			<div style="display:table-cell; vertical-align: middle">ПРИСОЕДИНИТЬСЯ К НАМ В СОЦ. СЕТЯХ</div>
		        <div style="float:right; width: 125px">
			    <a href="#"><div class="social_block1" style="background-color: #4e76a4;"></div></a>
			    <a href="#"><div class="social_block1" style="background-color: #3d5b9a;"></div></a>
			    <a href="#"><div class="social_block1" style="background-color: #f68c33;"></div></a>
			    <a href="#"><div class="social_block1" style="background-color: #cc2027;"></div></a>
			    <a href="#"><div class="social_block1" style="background-color: #1da0f3;"></div></a>
			</div>
		</div>
	</div>
	</div>
	    <div class="slider_show">
	<div class="swiper-container main-slider loading">
        <div class="swiper-wrapper">

      {% for objj in slider1 %}
      <div class="swiper-slide">
      <figure class="slide-bgimg" style="background-size:100% 100%;background-image:url({{objj.image.url}})">
        <img src="{{objj.image.url}}" class="entity-img" />
      </figure>
     	</div>
      {% endfor %}

    </div>
  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev swiper-button-white"></div>
  <div class="swiper-button-next swiper-button-white"></div>
</div>

<!-- Thumbnail navigation -->
<div class="swiper-container nav-slider loading">
  <div class="swiper-wrapper">

      {% for objj in slider1 %}
      <div class="swiper-slide">
      <figure class="slide-bgimg" style="background-image:url({{objj.image.url}})">
        <img src="{{objj.image.url}}" class="entity-img" />
      </figure>
    </div>
      {% endfor %}

  </div>
</div>
			</div>
	
<div class="best_sale">
	<div class="block">
		<div class="info">
			<div class="name">Совершайте свои лучшие покупки</div>
			<div class="more"><b>МинскМЕБЕЛЬ</b> - это дorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </div>
		</div>
	<div class="image">
    	<div class="back" style="background-image: url(../static/mainpage/img/geo.png);"></div>
    	Все белорусские производители в одном месте
    </div>
    <div class="image">
    	<div class="back" style="background-image: url(../static/mainpage/img/sale.png);"></div>
    	Скидки, акции, распродажи, рассрочка
    </div>
    <div class="image">
    	<div class="back" style="background-image: url(../static/mainpage/img/shop.png);"></div>
    	Доступность (ст.м. Я.Коласа) и удобный подъезд
    </div>
</div>
	    </div>
	</slider>

	<products>
		<div style="font-family: Proxima; font-size: 1.95vw; text-align: center;padding-top: 2%;padding-bottom: 2%;font-weight: bold">Популярные товары и вкусные цены</div>
		<div class="slider2">
			<div class="contrs left" onclick="next()"></div>
		<div class="contrs right" onclick="prev()"></div>
		 <ul id="content-slider" class="content-slider">


             {% for objj in slider2 %}
             <div>
                  <li class="listitem" >
                  <div class="contentslider2">
                  		<div class="image" style="background-image: url({{objj.image.url}});"></div>
                  		<div style="display:table; height: 10%">
                  			<div class="name">
                  				{{objj.title}}
                  			</div>
                  		</div>
                  		<div style="display:table; height: 7%">
                  			<div class="more">
                  				{{objj.discriotion}}
                  			</div>
                  		</div>
                  		<div style="display:table; height: 16%">
                  			<div class="price">
                  				{{objj.nowprice}}р.-
                  			</div>
                  		</div>
                  		<div style="display:table; height: 7%">
                  			<div class="preprice">
                  				прежняя цена: {{objj.prevprice}}р
                  			</div>
                  		</div>
                  </div>
                </li>
            </div>
             {% endfor %}

            </ul>
		</div>
	</products>

	<news>
		<div style="font-family: Proxima; font-size: 1.95vw; text-align: center;padding-top: 2%;font-weight: bold;width:100%">Новости гипермаркета</div>
		<div style="font-family: Proxima; font-size: 0.95vw; text-align: center;padding-bottom: 2.5%;font-weight: bold;width:100%">Здесь будут отображаться самые последние и значимые новости</div>
		<div class="slider3">
			<div class="contrs left" onclick="next1()"></div>
		<div class="contrs right" onclick="prev1()"></div>
		 <ul id="content-slider2" class="content-slider">
			 {% for objj in slider3 %}
			 <div>
                  <li class="listitem" >
                  <div class="contentslider3">
                  		<div class="image" style="background-image: url({{objj.image.url}});"></div>
                  		<div class="text">
                  			<div style="display: table; padding-left:5%; height: 15%">
                  				<div class="date">{{objj.date}}</div>
                  			</div>
                  			<div style="display: table; padding-left:5%;  padding-right:5%; height: 50%;overflow: hidden">
                  				<div class="more">{{objj.title}}</div>
                  			</div>
                  			<div style="display: table; padding-left:5%; height: 35%">
                  				<div class="morenews">Подробнее...</div>
                  			</div>
                  		</div>
                  </div>
                </li>
            </div>
			 {% endfor %}
			 <!--
               <div>
                  <li class="listitem" >
                  <div class="contentslider3">
                  		<div class="image" style="background-image: url(../static/mainpage/img/slider3/house.png);"></div>
                  		<div class="text">
                  			<div style="display: table; padding-left:5%; height: 15%">
                  				<div class="date">22/11/2018</div>
                  			</div>
                  			<div style="display: table; padding-left:5%;  padding-right:5%; height: 50%;overflow: hidden">
                  				<div class="more">Как обустроить свой дом и не свихнуться</div>
                  			</div>
                  			<div style="display: table; padding-left:5%; height: 35%">
                  				<div class="morenews">Подробнее...</div>
                  			</div>
                  		</div>
                  </div>
                </li>
            </div>
                <div>
                  <li class="listitem" >
                  <div class="contentslider3">
                  		<div class="image" style="background-image: url(../static/mainpage/img/slider3/interer.png);"></div>
                  		<div class="text">
                  			<div style="display: table; padding-left:5%; height: 15%">
                  				<div class="date">22/11/2018</div>
                  			</div>
                  			<div style="display: table; padding-left:5%; padding-right:5%; height: 50%;overflow: hidden">
                  				<div class="more">Светлый интерьер как новое веенье в дизайне</div>
                  			</div>
                  			<div style="display: table; padding-left:5%; height: 35%">
                  				<div class="morenews">Подробнее...</div>
                  			</div>
                  		</div>
                  </div>
                </li>
            </div>
            <div>
                  <li class="listitem" >
                  <div class="contentslider3">
                  		<div class="image" style="background-image: url(../static/mainpage/img/slider3/photo-flat.png);"></div>
                  		<div class="text">
                  			<div style="display: table; padding-left:5%; height: 15%">
                  				<div class="date">22/11/2018</div>
                  			</div>
                  			<div style="display: table; padding-left:5%; padding-right:5%; height: 50%;overflow: hidden">
                  				<div class="more">Как правильно фотографировать квартиру</div>
                  			</div>
                  			<div style="display: table; padding-left:5%; height: 35%">
                  				<div class="morenews">Подробнее...</div>
                  			</div>
                  		</div>
                  </div>
                </li>
            </div>
            <div>
                  <li class="listitem" >
                  <div class="contentslider3">
                  		<div class="image" style="background-image: url(../static/mainpage/img/slider3/house.png);"></div>
                  		<div class="text">
                  			<div style="display: table; padding-left:5%; height: 15%">
                  				<div class="date">22/11/2018</div>
                  			</div>
                  			<div style="display: table; padding-left:5%; padding-right:5%; height: 50%;overflow: hidden">
                  				<div class="more">Как обустроить свой дом и не свихнуться</div>
                  			</div>
                  			<div style="display: table; padding-left:5%; height: 35%">
                  				<div class="morenews">Подробнее...</div>
                  			</div>
                  		</div>
                  </div>
                </li>
            </div>
                <div>
                  <li class="listitem" >
                  <div class="contentslider3">
                  		<div class="image" style="background-image: url(../static/mainpage/img/slider3/interer.png);"></div>
                  		<div class="text">
                  			<div style="display: table; padding-left:5%; height: 15%">
                  				<div class="date">22/11/2018</div>
                  			</div>
                  			<div style="display: table; padding-left:5%; padding-right:5%; height: 50%;overflow: hidden">
                  				<div class="more">Светлый интерьер как новое веенье в дизайне</div>
                  			</div>
                  			<div style="display: table; padding-left:5%; height: 35%">
                  				<div class="morenews">Подробнее...</div>
                  			</div>
                  		</div>
                  </div>
                </li>
            </div>
            <div>
                  <li class="listitem" >
                  <div class="contentslider3">
                  		<div class="image" style="background-image: url(../static/mainpage/img/slider3/photo-flat.png);"></div>
                  		<div class="text">
                  			<div style="display: table; padding-left:5%; height: 15%">
                  				<div class="date">22/11/2018</div>
                  			</div>
                  			<div style="display: table; padding-left:5%; padding-right:5%; height: 50%;overflow: hidden">
                  				<div class="more">Как правильно фотографировать квартиру</div>
                  			</div>
                  			<div style="display: table; padding-left:5%; height: 35%">
                  				<div class="morenews">Подробнее...</div>
                  			</div>
                  		</div>
                  </div>
                </li>
            </div>
            -->
            </ul>
		</div>
	</news>

	<shop>
		<div class="name">
			<div class="text">
				Магазины
			</div>
		</div>
		<div class="shop">
			<a href="#"><div class="shop_image" style="background-image: url(../static/mainpage/img/ami.png);"></div></a>
			<a href="#"><div class="shop_image" style="background-image: url(../static/mainpage/img/vegas.png);"></div></a>
			<a href="#"><div class="shop_image" style="background-image: url(../static/mainpage/img/brw.png);"></div></a>
			<a href="#"><div class="shop_image" style="background-image: url(../static/mainpage/img/minsk_mebel.png);"></div></a>
			<a href="#"><div class="shop_image" style="background-image: url(../static/mainpage/img/trevi.png);"></div></a>
			<a href="#"><div class="shop_image" style="background-image: url(../static/mainpage/img/anrex.png);"></div></a>
			<a href="#"><div class="shop_image" style="background-image: url(../static/mainpage/img/petra.png);"></div></a>
			<a href="#"><div class="shop_image" style="background-image: url(../static/mainpage/img/alta.png);"></div></a>
		</div>
		<div class="name" style="height: 5%">
			<div class="text" style="font-size: 2.5vh; color: #cd1639; font-weight: 100;">
				<p style="cursor: pointer;">ещё</p>
			</div>
		</div>
	</shop>

	<map>
		<div class="contacts">
			<div class="all">
				<div class="name">Контакты</div>
			    <div class="content">Телефон: <br><b>+375 29 666-45-58</b><br><b>+375 29 666-45-58</b></div>
			    <div class="content">Адрес: <br><b>МИНСК</b><br><b>УЛ. В. ХОРУЖЕЙ, 25</b></div>
			    <div class="content">E-mail: <br><b>SALES@MM.BY</b></div>
			</div>
			<div class="call_but_footer">
				<div class="but" style="vertical-align: bottom">ЗАКАЗАТЬ ЗВОНОК</div>
			</div>
		</div>
	</map>

	<footer>
		<div style="width:18%; height: 100%; margin-left: 16%; float: left; display: inline-block;">
		    <div class="logo"></div>
		    <div class="social" style="padding-top: 10%">ПРИСОЕДИНИТЬСЯ К НАМ В СОЦ. СЕТЯХ <br>
			    <a href="#"><div class="social_block" style="background-color: #4e76a4;"></div></a>
			    <a href="#"><div class="social_block" style="background-color: #3d5b9a;"></div></a>
			    <a href="#"><div class="social_block" style="background-color: #f68c33;"></div></a>
			    <a href="#"><div class="social_block" style="background-color: #cc2027;"></div></a>
			    <a href="#"><div class="social_block" style="background-color: #1da0f3;"></div></a>
		    </div>
	    </div>
		<div class="catalog">
			<div class="content">КАТАЛОГ ТОВАРОВ <br>
				Прихожая <br>
				Гостиная <br>
				Ванная <br>
				Спальня <br>
				Столовая <br>
				Кухня <br>
			</div>
		</div>
		<div class="catalog">
			<div class="content"><br>
				Для вашего бизнеса <br>
				Детская <br>
				Мягкая мебель <br>
			</div>
		</div>
		<div class="catalog">
			<div class="content">СВЯЖИТЕСЬ С НАМИ
			</div>
		</div>
		<div class="catalog">
			<div class="content">СВЯЖИТЕСЬ С НАМИ
			</div>
		</div>
	</footer>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js'></script>
    <script  src="{% static 'mainpage/js/index.js' %}"></script>
</body>
</html>