@media only screen and (max-width: 767px) {
body {
overflow-x: hidden;
}
up {
	background-color:white;
}
category {
	background-color:#cd1639 !important;
	height:7%;
}
news {
	display: none;
}
shop {
	display: none;
}
map {
	display: none;
}
footer {
	display: none;
}
.sliderTwo {
	width:100%;
}
.lslide {
	width: 90%;
}
.contrs {
	display: none;
}
.social {
	display: none;
}
.contentslider2 .name {
	font-size: 4vw;
}
.contentslider2 .more {
	font-size: 3vw;
}
.cintent_news {
    font-size: 5vw !important;
}
.contentslider2 .price {
	font-size: 6vw;
}
.contentslider2 .preprice {
	font-size: 3vw;
}
.nav-slider {
	width:0;
	display: none;
}
.best_sale .block .image {
	display:none;
}
.best_sale {
	height:15%;
	padding-top: 2%;
	padding-bottom: 2%;
}
slider {
	height: auto;
}
.info .name {
	width:100%;
	text-align: center;
	font-size: 3vw
}
.info .more {
	font-size: 2vw
}
.block .info {
	padding-right: 1%;
	width: 100%;
}
.best_sale .block {
	margin-left: 2%;
	width:96%;
}
.swipper-slide {
	width:100%;
}
.swiper-button-prev {
	display: none;
}
.swiper-button-next {
	display: none;
}
.menu_mobile {
	display: block;
}
.catalog_mobile {
	display: block;
}
.category {
	width:100%;
	margin:0;
}
.swiper-container {
	width:100%;
}
.slider_show {
	margin:0;
	width:100%;
	height: 58%;
}
.category_name {
	display: none;
}
.menu {
	display: none;
}
.call_but_header {
	display:none;
}
.logo {
	width: 40%;
}
.right_header {
	width:43%;
}
.block_down {
	float: none;
	height:50%;
	width: 75%
}
.call {
	height:80%;
	width:80%;
	padding-left:10%;
}
.block_down .clock_info {
	width:65%;
	font-size: 1.5vw
}
.block_down .call_number {
	width:65%;
	font-size: 1.5vw
}

/*           SALES              */
.howtoconnect {
	margin:0;
	width:100%;
}
.howtoconnect .leftside {
	padding-top:2%;
	padding-bottom: 2%;
	height: auto;
}
.map {
	height:15%;
}
.news .name {
	font-size: 4vw !important;
}
.news .content {
	font-size: 3vw !important;
}
.plus {
	height: 10%;
}
.content_news {
	font-size: 4vw !important;
}
.spisokitems {
	font-size: 3vw;
}
/*            CONTACTS          */
.callback {
	display: none;
}
.inform {
	width: 55%;
	overflow-y: hidden;
}
.infoitem1 {
	margin-right: 0 !important;
}
.mapandform {
	height: auto;
	padding-top:2%;
}

contacts {
	height: auto;
}
.infoitem {
	font-size: 2.5vw;
}
/*              COLLECTIONS               */
.way {
	display: none;
}
.collection .item {
	height: 20%;
}
.collection .tovar .name {
	font-size: 3vw;
}
.tovar .item .content .name {
	font-size: 2vw;
}
.contentdown {
	display: none;
}
.page_contentdown .left{
	display: none;
}
.page_contentdown .right{
	width:100%;
	padding-left: 0;
	height: auto;
}
.right .name {
	height:7.5%;
}
.right .title {
	font-size: 2vw;
}
.right .text {
	font-size: 2.5vw;
	height: auto;
	padding-bottom:5%;
}
.right .right_content {
	height: auto;
}
.page_contentdown {
	height:auto;
}
.page_content .image {
	float: none;
	height: 70%;
	width: 100%;
	margin-top: 5%;
}
.page_content .content {
	width:100%;
	height: auto;
}
.news .content {
	font-weight: 100 !important;
}
/*                 CATALOG                 */
.tovarcontent {
	margin:0;
}
.sortout {
	width:30%;
	right:2%;
	top: 40%;
}
.irs-single {
	font-size: 3vw !important;
}
.tovs {
	width: 100%;
}
.tovaritem {
	height:12%;
	width:100%;
}
.tovsorcollections {
	height: 6%;
}
.pagess {
	width:auto;
	height: auto;
}
/*              SHOP                  */
.preview {
	width: 100% !important;
	padding:0 !important;
	margin:0 !important;
}
.contentslider .name .content {
	font-size: 3vw;
}
.contentslider .name {
	height: 20%;
}
.contentslider .text {
	font-size: 2vw;
}
.shops .shopblock {
	width:50% !important;
	height:18%;
}
.shopblock .content .img {
	height: 60%;
	background-size: 60%;
}

/*                    SHOP PAGE              */
topshop {
padding-top: 2%;
}
topshop .stand {
	height: 15%;

}
.info .links {
	margin-top: 22%;
}
.info .infoitem {
	display: none;
}
.contacts .inner .topheader{
	display: none ;
}
.contacts .inner .infoitem{
	display: none ;
}
.contacts .inner .linktoshop1{
	display: none ;
}
.contacts .inner{
	height: 100%;
	display:table;
}
.contacts .inner .pic{
	height: 100%;
	background-size: 100%;
	background-position: 50% 40%;
	background-repeat: no-repeat;
}
.info .header {
	font-size: 3vw;
}
.links .linktoshop {
	font-size: 2vw;
}
.contentslider2 .name {
font-size: 5vw !important;
}
.contentslider2 .more {
font-size: 3vw !important;
}
.contentslider2 .price {
font-size: 9vw !important;
}

.nowprice {

    font-size: 8vw !im;

}
.preprice {
   display: none;

}
.contentslider2 .preprice {
font-size: 4vw !important;
}
.slider2 .contrs.right, .slider2 .contrs.left{
display: none;
}
.slider2 {
height: 100%;
}
.poptovs {
font-size: 4vw !important;
}


}
