	
		
		.contrs.left{
			left: -5%;
        	background-image: url('../src/img/right.png');
		}
		.contrs.right{
			right: -5%;
			        	background-image: url('../src/img/left.png');

		}


		
		
	
		.slider3{
		position: relative;
		height: 80%;
       	margin-right: 18%;
		margin-left: 18%;
		
		
		
		}

		.contentslider3{
			height: auto;
			width: 100%;
		}
		.contentslider3 .image {
			height:60%;
			width:100%;
			background-size: 100% 100%;
		}
		.contentslider3 .text {
			height:40%;
			width:100%;
			background-color: white;
		}
		.contentslider3 .date {
			width:100%;
			display:table-cell;
			vertical-align: middle;
			font-size: 0.7vw;
			font-family: Proxima;
			color: #6f6f6f;
		}
		.contentslider3 .more {
			width:100%;
			display:table-cell;
			vertical-align: middle;
			font-size: 1.2vw;
			font-family: Proxima;
			font-weight: bold;
		}
		.contentslider3 .morenews {
			width:100%;
			display:table-cell;
			vertical-align: middle;
			font-size: 1vw;
			font-family: Proxima;
			color: #cd1639;
			cursor: pointer;
		}



		