{% load staticfiles %}

<html>
<head>
  <meta charset="utf-8" />
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"> -->
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css'>
    	<link rel="stylesheet" type="text/css" href="{% static 'mainpage/css/style.css' %}">
    <title>Товары</title>
    <link rel="stylesheet" type="text/css" href="{% static 'mainpage/css/style_index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style_magazine.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style_catalog.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'range/ion.rangeSlider.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'range/ion.rangeSlider.skinHTML5.css' %}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script src="{% static 'js/ion.rangeSlider.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <script type="text/javascript">
    $(document).ready(function(){
   $("#slider5").ionRangeSlider({
    type: "double",
    min: 0,
    max: 1000,
    from: 0,
    hide_min_max: true,
    to: 1000,
  
});
  });
  </script>

  {% block content %}
  {% include "header.html" %}
  {% endblock %}

  <catalog>
    <div class="tovsorcollections">
      <a href="" class="tovsorcols active">
        <p>Товары</p>
      </a>
      <p class="tovsorcols">|</p>
      <a href="" class="tovsorcols">
        <p>Коллекции</p>
      </a>
    </div>
<div class="select">
      <select onchange="">
      <option>Сначала популярные</option>
      <option>ваывапыавпы</option>
      <option>фывфы</option>
      <option>фывфывыфв</option>
      </select>
    </div>
      
    <div class="tovarcontent">

      <div class="tovs">

          {% for objj in items %}
          <div class="tovaritem">
                      <div class="image" style="background-image: url('{{objj.image.url}}');"></div>
                      <div style="display:table; height: 10%;margin-left: 10px;margin-right: 10px;">
                        <div class="name">
                          <a href="/catalog/{{objj.id}}/" style="text-decoration: none; color: black">{{objj.title}}</a>
                        </div>
                      </div>
                      <div style="display:table; height: 7%;margin-left: 10px;margin-right: 10px;">
                        <div class="more">
                          {{objj.subtitle}}
                        </div>
                      </div>
                      <div style="display:table; height: 7%;margin-left: 10px;margin-right: 10px;">
                        <div class="price">
                          {{objj.price}}р.-
                        </div>
                      </div>

                  </div>
          {% endfor %}
          <!--


          -->
        </div>
        

       <div class="sortout">
        <div class="sort">
         <div class="slidersort">  <input type="text" id="slider5" name="slider5" value="" /></div>
        <div class="sortchecks">
          
          <label  class="brand">
            <input class ="checkbox" type="checkbox" name="" value="sdfdsdsf">
            <span class="checkbox-custom"></span>
            <span class="label"><b>хуй</b></span>
          </label>

           
          <label  class="brand">
            <input class ="checkbox" type="checkbox" name="" value="sdfdsdsf">
            <span class="checkbox-custom"></span>
            <span class="label"><b>жепа</b></span>
          </label>


          <label  class="brand">
            <input class ="checkbox" type="checkbox" name="" value="sdfdsdsf">
            <span class="checkbox-custom"></span>
            <span class="label"><b>яйцы</b></span>
          </label>


          <label  class="brand">
            <input class ="checkbox" type="checkbox" name="" value="sdfdsdsf">
            <span class="checkbox-custom"></span>
            <span class="label"><b>никита</b></span>
          </label>
        </div>
        </div>
      </div>
      
      </div>
      <div class="pages">
        
        <table class="pagess" cellpadding="0" cellspacing="0" align="middle">
          <td class="active"><a href="?page=1" class="ss"><b>1</b></a></td>
          <td><a href="?page=2" class="ss"><b>2</b></a></td>
           <td><a href="?page=3" class="ss"><b>3</b></a></td>
           <td><a href="?page=4" class="ss"><b>4</b></a></td>
           <td><a href="?page=5" class="ss"><b>5</b></a></td>

        </table>
      </div>
        

  </catalog>

 {% block footer %}
 {% include "footer.html" %}
 {% endblock %}

  <script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js'></script>
    <script  src="{% static 'mainpage/js/index.js' %}"></script>
</body>
</html>