<html>
<head>
  <meta charset="utf-8" />
  {% load staticfiles %}
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"> -->
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css'>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style_index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mainpage/css/menu.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'mainpage/css/adaptation.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'style_magazine.css' %}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script  src="{% static 'mainpage/js/menu.js' %}"></script>

    <script src="{% static 'mainpage/src/js/lightslider.js' %}"></script>
  	<script src="{% static 'js/shopslider.js' %}"></script>
  	<link rel="stylesheet"  href="{% static 'mainpage/src/css/lightslider.css' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  {% block content %}
  {% include "header.html" %}
  {% endblock %}

  <div class="slidermagazin">
      <div class="social_url" style="height:20%"><div class="social">
    <div style=" display:table; float:right">
      <div style="display:table-cell; vertical-align: middle">ПРИСОЕДИНИТЬСЯ К НАМ В СОЦ. СЕТЯХ</div>
            <div style="float:right; width: 125px">
          <a href="#"><div class="social_block1" style="background-color: #4e76a4;"></div></a>
          <a href="#"><div class="social_block1" style="background-color: #3d5b9a;"></div></a>
          <a href="#"><div class="social_block1" style="background-color: #f68c33;"></div></a>
          <a href="#"><div class="social_block1" style="background-color: #cc2027;"></div></a>
          <a href="#"><div class="social_block1" style="background-color: #1da0f3;"></div></a>
      </div>
    </div>
  </div>
  </div>

<div class="preview" style="width: 70%; margin-left: 15%; margin-right: 15%;">
  <ul id="shopslider" style="width:100%; height:80%;">

 {% for objj in news %}
    <li class="listitem" style="display: block;">
    <div class="imageslider" style="background-image: url({{objj.image.url}})"><a href="/news/{{objj.id}}" style="display: block; width: 100%; height: 100%"></a></div>
    <div class="contentslider" style="vertical-align: top;">
      <div class="name">
        <div class="content"><a href="/news/{{objj.id}}" style="text-decoration: none; color: inherit">{{objj.title}}</a> </div>
      </div>
      <div class="text">{{objj.discriotion}}</div>
    </div>
    </li>
  {% endfor %}

  </ul>
</div>



  </div>
  <div class="shops">
    <div class="shopname">Магазины</div>
    {% for objj in shops %}
    <a href="/shops/{{objj.id}}">
    <div class="shopblock">
      <div class="content">
        <div class="img" style="background-image: url({{objj.image.url}});"></div>
        <div class="name">{{objj.title}}</div>
      </div>
    </div>
      </a>
    {% endfor %}
    <div class="shopbot"></div>
  </div>
{% block footer %}
  {% include "footer.html" %}
  {% endblock %}
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js'></script>
    <script  src="js/index.js"></script>
</body>
</html>