<html>
<head>
  <meta charset="utf-8" />
  {% load staticfiles %}
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"> -->
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css'>
      	<link rel="stylesheet" type="text/css" href="{% static 'mainpage/css/style.css' %}">

  <link rel="stylesheet" type="text/css" href="{% static 'css/style_index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style_shoppage.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'mainpage/css/menu.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'mainpage/css/adaptation.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'style_magazine.css' %}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script  src="{% static 'mainpage/js/menu.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'mainpage/css/adaptation_shoppage.css' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body >

{% block content %}
  {% include "header.html" %}
{% endblock %}


 <social style="background-color: #eeeff1; display: block">
    <div class="social_url">
      <div class="social">
        <div style=" display:table; float:right">
          <div style="display:table-cell; vertical-align: middle">ПРИСОЕДИНИТЬСЯ К НАМ В СОЦ. СЕТЯХ</div>
            <div style="float:right; width: 125px">
              <a href="#"><div class="social_block1" style="background-color: #4e76a4;"></div></a>
              <a href="#"><div class="social_block1" style="background-color: #3d5b9a;"></div></a>
              <a href="#"><div class="social_block1" style="background-color: #f68c33;"></div></a>
              <a href="#"><div class="social_block1" style="background-color: #cc2027;"></div></a>
              <a href="#"><div class="social_block1" style="background-color: #1da0f3;"></div></a>
            </div>
         </div>
      </div>
    </div>
  </social>

  <topshop>
    <div class="stand">
      <div class="screen" style="background-color:white;background-image: url({{item.mainimage.url}}); background-size: 80%; background-position: 50% 50%; background-repeat: no-repeat;"></div>
        <div class="info">
          <p class="header"><b>{{item.title}}</b></p>
          <p class="infoitem">
            {{item.discription}}
          </p>
          <div class="links">

            <a href="" class="linktoshop"><b>Спальня</b></a>
            <p class="linktoshop"><b>|</b></p>
            <a href="" class="linktoshop"><b>Детская</b></a>
          </div>
        </div>
        <div class="contacts">
          <div class="inner">
            <div class="pic" style="background-image: url({{item.image.url}})"></div>
            <p class="topheader">сайт:</p>
            <a href="http://vegas.by" class="linktoshop1"><b>www.vegas.by</b></a>
            <p class="topheader">телефон:</p>
            <p class="infoitem"><b>{{item.phone1}} - Велком</b></p>
            <p class="topheader">время работы:</p>
            <p class="infoitem"><b>Пн.-Вс.: с 10:00 до 20:00</b></p>
            <a href="" class="linktoshop1"><b>как проехать</b></a>
          </div>
          
          
        </div>

    </div>


  </topshop>
  <div class="shops">
    <div class="shopname">Товары</div>
    {% for objj in staff %}
    <div class="shopblock" style="width:33.33%;height:50%">
      <div class="content" style="padding-top:0%; height:100%">
        <div class="img" style="background-image: url({{objj.image.url}}); height:65%; background-size: 100% 100%"><a href="/catalog/{{objj.id}}" style="display: block; width: 100%; height: 100%"></a></div>
        <div class="name" style="height:7%"><a style="text-decoration: none; color:black;" href="/catalog/{{objj.id}}" >{{objj.title}}</a></div>
        <div class="more" style="padding-left:5%;height: 7%; font-size:1.5vh; color:#818181; padding-top:2.5%">{{objj.subtitle}}</div>
        <div class="more" style="padding-left:5%;height: 15%; font-size:3vh; color:black; padding-top:2.5%; padding-bottom:2.5%; font-weight: bold">{{objj.price}}р.-</div>
      </div>
    </div>
    {% endfor %}
    <div class="shopbot"></div>

  </div>
{% block footer %}
  {% include "footer.html" %}
{% endblock %}
</body>
</html>