

<html>
<head>
  <meta charset="utf-8" />
    {% load staticfiles %}

  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"> -->
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css'>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style_page.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style_catalog.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'mainpage/css/menu.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'mainpage/css/adaptation.css' %}">

    <title>{{item.title}}</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{% static 'js/lightslider.js' %}"></script>
    <script src="{% static 'js/slider2.js' %}" ></script>
        <script  src="{% static 'mainpage/js/menu.js' %}"></script>

    <link rel="stylesheet"  href="{% static 'lightslider.css' %}"/>
    <link rel="stylesheet"  href="{% static 'slider2.css' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>


<body>
{% block content %}
  {% include "header.html" %}
{% endblock %}

<script type="text/javascript">
  var T = '{{item.qualities}}';
  var M = '{{item.discriotion}}';
</script>
  <div class="tovsorcollections">
      <a href="/catalog" class="tovsorcols active">
        <p>Товары</p>
      </a>
      <p class="tovsorcols">|</p>
      <a href="/catalog/collections/" class="tovsorcols">
        <p>Коллекции</p>
      </a>
    </div>
  <div class="page_content tov">
    <div class="image tov">
        <ul id="sliderphoto" style="cursor: pointer; width:100%; height:100%;">

            <li class="listitem" onclick="next1()" style="background-size: 60% 90%;
	                                    background-position: 50% 50%;cursor: pointer;
	                                    background-repeat: no-repeat;
	                                    width:100%; height:100%;
	                                    display: block;
	                                    background-image: url({{item.image.url}});">
            </li>
            {% if item.image1 %}
         <li class="listitem" onclick="next1()" style="background-size: 60% 90%;
	                                    background-position: 50% 50%;cursor: pointer;
	                                    background-repeat: no-repeat;
	                                    width:100%; height:100%;
	                                    display: block;
	                                    background-image: url({{item.image1.url}});">
            </li>
          {% endif %}
          {% if item.image2 %}
         <li class="listitem" onclick="next1()" style="background-size: 60% 90%;
	                                    background-position: 50% 50%;cursor: pointer;
	                                    background-repeat: no-repeat;
	                                    width:100%; height:100%;
	                                    display: block;
	                                    background-image: url({{item.image2.url}});">
         </li>
          {% endif %}
           {% if item.image3 %}
            <li class="listitem" onclick="next1()" style="background-size: 60% 90%;
	                                    background-position: 50% 50%;cursor: pointer;
	                                    background-repeat: no-repeat;
	                                    width:100%; height:100%;
	                                    display: block;
	                                    background-image: url({{item.image3.url}});">
            </li>
            {% endif %}
           {% if item.image4 %}
         <li class="listitem" onclick="next1()" style="background-size: 60% 90%;
	                                    background-position: 50% 50%;cursor: pointer;
	                                    background-repeat: no-repeat;
	                                    width:100%; height:100%;
	                                    display: block;
	                                    background-image: url({{item.image4.url}});">
            </li>
          {% endif %}
           {% if item.image5 %}
        <li class="listitem" onclick="next1()" style="background-size: 60% 90%;cursor: pointer;
	                                    background-position: 50% 50%;
	                                    background-repeat: no-repeat;
	                                    width:100%; height:100%;
	                                    display: block;
	                                    background-image: url({{item.image5.url}});">
            </li>
          {% endif %}
           {% if item.image6 %}
         <li class="listitem" onclick="next1()" style="background-size: 60% 90%;
	                                    background-position: 50% 50%;cursor: pointer;
	                                    background-repeat: no-repeat;
	                                    width:100%; height:100%;
	                                    display: block;
	                                    background-image: url({{item.image6.url}});">
            </li>
          {% endif %}
           {% if item.image7 %}
         <li class="listitem" onclick="next1()" style="background-size: 60% 90%;
	                                    background-position: 50% 50%;cursor: pointer;
	                                    background-repeat: no-repeat;
	                                    width:100%; height:100%;
	                                    display: block;
	                                    background-image: url({{item.image7.url}});">
            </li>
          {% endif %}
           {% if item.image8 %}
         <li class="listitem" onclick="next1()" style="background-size: 60% 90%;
	                                    background-position: 50% 50%;cursor: pointer;
	                                    background-repeat: no-repeat;
	                                    width:100%; height:100%;
	                                    display: block;
	                                    background-image: url({{item.image8.url}});">
            </li>
          {% endif %}
        </ul>
    </div>
    <div class="content">
      <div class="contentup">
        <div class="name">{{item.title}}</div>
      <div class="more">{{item.subtitle}}</div>
          {% if item.isdiscount %}
      <div class="price" style="color: #cd1639;">Новая цена - {{item.newprice}}pуб.</div>
      <div class="price" style="font-size: 3vh;">Старая цена - {{item.price}}pуб.</div>

          {% else %}
            {% if item.price == 0 %}
          <div class="pricemore">Информацию о наличии и цене уточняйте у консультантов</div>
              
            {% else %}  
          <div class="price">{{item.price}}p.</div>
            {% endif %}
          {% endif %}
      </div>
      <div class="contentdown">
        <div class="text">
          <b>Магазин "{{item.seller.title}}"</b><br><br>
        <p style="font-size: 1vw">{{item.seller.phone1}} — Велком<br>
        {{item.seller.phone2}} — МТС <br><br>
        Пн. - Сб.: с 10.00 до 20.00<br>
        Вс.: с 11.00 до 20.00</p>
        </div>
        <div class="image" style="background-image: url({{item.seller.image.url}});"><a style="display: block; height: 100%; width:100%" href="/shops/{{item.seller.id}}"></a></div>
      </div>
    </div>
  </div>
    <div class="page_contentdown">
      <div class="left">
        <div class="content" onclick="slider1.goToSlide(1);" style="cursor: pointer; background-image: url({{item.image.url}});"></div>
          {% if item.image1 %}
        <div class="content" onclick="slider1.goToSlide(2);" style="cursor: pointer; background-image: url({{item.image1.url}});"></div>
          {% endif %}
          {% if item.image2 %}
        <div class="content" onclick="slider1.goToSlide(3);" style="cursor: pointer; background-image: url({{item.image2.url}});"></div>
          {% endif %}
           {% if item.image3 %}
        <div class="content" onclick="slider1.goToSlide(4);" style="cursor: pointer; background-image: url({{item.image3.url}});"></div>
          {% endif %}
           {% if item.image4 %}
        <div class="content" onclick="slider1.goToSlide(5);" style="cursor: pointer; background-image: url({{item.image4.url}});"></div>
          {% endif %}
           {% if item.image5 %}
        <div class="content" onclick="slider1.goToSlide(6);" style="cursor: pointer; background-image: url({{item.image5.url}});"></div>
          {% endif %}
           {% if item.image6 %}
        <div class="content" onclick="slider1.goToSlide(7);" style="cursor: pointer; background-image: url({{item.image6.url}});"></div>
          {% endif %}
           {% if item.image7 %}
        <div class="content" onclick="slider1.goToSlide(8);" style="cursor: pointer; background-image: url({{item.image7.url}});"></div>
          {% endif %}
           {% if item.image8 %}
        <div class="content" onclick="slider1.goToSlide(9);" style="cursor: pointer; background-image: url({{item.image8.url}});"></div>
          {% endif %}


      </div>
      <div class="right tov">
        <div class="right_content tov">
        <div class="name">
         <div class="title tov" onclick="opis()">Описание</div>
         <div class="title tov" onclick="harak()">Характеристики</div>
        </div>
        <div class="text" id="changetext">{{item.discriotion}}</div>
      </div>
      </div>
  </div>
  <products style="background-color: white; margin-top:2%">
    <div class="tovmob" style="font-family: Proxima; font-size: 1.95vw; text-align: center;padding-top: 2%;padding-bottom: 2%;font-weight: bold">Похожие товары</div>
    <div class="slider2">
      <div class="contrs left" style= "background-image: url('{% static 'img/right.png' %}');" onclick="next()"></div>
    <div class="contrs right" style= "background-image: url('{% static 'img/left.png' %}');" onclick="prev()"></div>
     <ul id="content-slider" class="content-slider">
                {% for objj in SimularItems %}

               <div>
                  <li class="listitem" >
                  <div class="contentslider2">
                      <div class="image" style="background-image: url({{objj.image.url}});"><a href="/catalog/{{objj.id}}" style="display: block; width: 100%; height: 100%"></a></div>
                      <div style="display:table; height: 10%">
                        <div class="name">
                           <a href="/catalog/{{objj.id}}/" style="text-decoration: none; color: black">{{objj.title}}</a>
                        </div>
                      </div>
                      <div style="display:table; height: 7%">
                        <div class="more">
                            {{objj.subtitle}}
                        </div>
                      </div>
                      <div style="display:table; height: 16%">
                        
                           {% if objj.price == 0.0 %}
                          <div class="pricemore"><b>Цену уточняйте у консультантов</b></div>
                        
                          
                          {% else %}  
                          <div class="price">{{objj.price}}руб.</div>
                          {% endif %}
                          
                        
                      </div>
                  </div>
                    </li>
                </div>
                


         {% endfor %}
            </ul>
    </div>
  </products>
<div class="plus">
  <div class="content">
    <div class="image" style="background-image: url({% static 'img/geo.png' %});">
    <a href="/contacts" style="display: block;height: 100%; width: 100%"></a>
      
    </div>
    <div class="text">
      <div class="content">
        <div class="name">Доступность и удобный подъезд</div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="image" style="background-image: url({% static 'img/sale.png' %});">
    <a href="/sales" style="display: block;height: 100%; width: 100%"></a>
      
    </div>
    <div class="text">
      <div class="content">
        <div class="name">Скидки, акции, распродажи, рассрочка</div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="image" style="background-image: url({% static 'img/shop.png' %});">
    <a href="/shops" style="display: block;height: 100%; width: 100%"></a>
      
    </div>
    <div class="text">
      <div class="content">
        <div class="name">Лучшая мебель в одном месте</div>
      </div>
    </div>
  </div>
</div>

    {% block footer %}
        {% include "footer.html" %}
    {% endblock %}


  <script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js'></script>
    <script  src="{% static 'mainpage/js/index.js' %}"></script>
    <script  src="{% static 'js/photoslider.js' %}"></script>

</body>
</html>